.table-container {
    max-width: 100%; /* Adjust this as needed */
    overflow-x: auto; /* Enables horizontal scrolling */
    margin: 0 auto; /* Optional: for centering the container */
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    /* Adjust the padding to create space between label and input */
    min-width: 120px;
    /* Set a minimum width for the label */
}

.input {
    flex: 2;
    width: 100%;
    /* Make the input field take up the remaining space */
}

.wd-like-list li{
    font-size: 1rem;
    background-color: #eff2f5;
    border-style: none;
    
}



.wd-list-override li {
    padding-left: -32px !important;
    font-size: 1rem;
}