.wd-search {
    max-width: 1300px;
  }


.wd-search a {
    text-decoration: none;
    color: #232323;
}

.wd-search a:hover {
    text-decoration: underline;
}

.wd-search img {
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}

.wd-card-width.card {
    width: 270px;
    margin-top:18px;
    margin-right:36px;
    margin-bottom: 18px;
}

.card {
    background-color: #f0f2f5;
    border-style: none;
}

.wd-detail img {
    width: 500px;
    height: 500px;
    border-radius: 1rem;
}


.wd-detail {
    display: flex;
    flex-direction: row;
}

.wd-like-list {
    list-style: none;
}

.wd-like-list li {
    display: inline-block !important;
    margin-right: 10px;
    font-size: 1.5rem;
}

.wd-like-list li:not(:last-child)::after {
    content: ", ";
    font-size: 1.5rem;
}

.wd-like-headshot {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.wd-like-list a {
    text-decoration: none;
    color: #232323;
}

.wd-like-list a:hover {
    text-decoration: underline;
}

.wd-comment-list a {
    text-decoration: none;
    color: #232323;
    font-size: 1.5rem;
}

.wd-comment-list a:hover {
    text-decoration: underline;
}





