/* Course Modules styles*/
.course-modules {
    margin: 0px;
    max-width: 100%;
    flex-grow: 2;
}

.course-modules .list-group-item-title {
    padding-right: 0;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-modules .list-group-item {
    padding-right: 0;
    border-left: 3px solid green;
}

.course-modules .list-group-item a,
.course-modules .list-group-item a:hover {
    color: black;
    text-decoration: none;
}

.course-modules .list-group-item-action {
    padding-left: 50px;
}

.course-modules .fa-check-circle {
    color: green;
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

.course-modules .fas.fa-plus {
    color: grey;
    margin-right: 20px;
}

.course-modules .fas.fa-ellipsis-v {
    color: black;
    margin-right: 20px;
    float: right;
}

.course-modules .link-item .fas.fa-link {
    color: green;
    margin-right: 10px;
}

.course-modules .link-item .fas.fa-external-link-alt {
    padding-left: 5px;
    color: red;
    text-decoration: none;
}

.course-modules .slides-text {
    color: red;
    padding-left: 20px;
}

/* Course Button styles */
.course-buttons .btn-primary {
    background-color: lightgray;
    color: black;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
}

.course-buttons .btn-primary-long {
    background-color: lightgray;
    color: black;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
    width: 250px;
    text-align: left;
}

.course-buttons .btn-secondary {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
}

.course-buttons .btn-third {
    background-color: #8bc34a;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
}

.course-buttons .btn-primary:hover,
.course-buttons .btn-primary:focus,
.course-buttons .btn-secondary:hover,
.course-buttons .btn-secondary:focus {
    background-color: lightgrey;
    color: black;
}

.course-buttons .btn i.fas.fa-check-circle {
    font-size: 1.2em;
    margin-right: 5px;
}

.course-buttons .btn-equal-height {
    height: 40px;
}

.icons .check-icon {
    color: green;
}