.wd-kanbas-navigation .wd-icon {
    font-size: 2em;
}

.wd-kanbas-navigation .list-group-item:first-child,
.wd-kanbas-navigation .list-group-item:last-child,
.wd-kanbas-navigation .list-group-item.active:last-child,
.wd-kanbas-navigation.list-group {
    border-radius: 0px;
}

.wd-kanbas-navigation {
    background-color: #f0f2f5;
    list-style: none;
    padding: 0px;
    width: 300px;
    margin: 0px;
    height:100%;
    min-height: 100vh;
}

.wd-kanbas-navigation a {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    background-color: #f0f2f5;
    border: none;
}

.wd-kanbas-navigation a.active {
    background-color: white;
}

.wd-kanbas-navigation a.active {
    color: black;
}

.wd-kanbas-navigation a {
    color: black;
    text-decoration: none;
}

/* .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
} */

.list-group-item {
    display: block !important;
}